* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

* body {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body main .cards {
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 460px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

* body main .cards .front-card {
  background-image: url(../images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  height: 230px;
  width: 400px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

* body main .cards .front-card p {
  margin-top: 20px;
  color: white;
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

* body main .cards .front-card .span-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

* body main .cards .front-card .span-field span {
  font-size: 18px;
  color: white;
  letter-spacing: .5px;
  text-transform: uppercase;
}

* body main .cards .back-card {
  background-image: url(../images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 230px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(220px);
          transform: translateX(220px);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

* body main .cards .back-card p {
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
}

* body main .completed {
  width: 1075px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main .completed .completed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

* body main .completed .completed-card h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

* body main .completed .completed-card p {
  color: #8e8593;
  font-weight: 500;
  letter-spacing: 1px;
}

* body main .completed .completed-card button {
  padding: 10px 150px;
  background-color: #21092f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  letter-spacing: .5px;
}

@media screen and (max-width: 1240px) {
  * body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  * body main .cards {
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * body main .cards .front-card {
    width: 320px;
    height: 180px;
    margin-top: 185px;
    margin-right: 100px;
    z-index: 9;
    -webkit-transform: translate(0);
            transform: translate(0);
    gap: 5px;
  }
  * body main .cards .front-card #card-number-t {
    font-size: 14px;
  }
  * body main .cards .front-card .span-field #card-name-t {
    font-size: 14px;
  }
  * body main .cards .front-card .exp #card-validate-m,
  * body main .cards .front-card .exp #card-validate-y {
    font-size: 12px;
  }
  * body main .cards .back-card {
    -webkit-transform: translate(0);
            transform: translate(0);
    background-position: center;
    width: 320px;
    height: 180px;
    position: absolute;
    margin-bottom: 20px;
    font-size: 14px;
  }
  * body main .completed {
    width: 100%;
    height: 65vh;
  }
  * body main .completed .completed-card {
    gap: 5px;
    width: 90%;
  }
  * body main .completed .completed-card p {
    font-size: 16px;
  }
  * body main .completed .completed-card button {
    padding: 10px 100px;
    text-align: center;
  }
}

@media screen and (max-width: 510px) {
  * body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  * body main .cards {
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 0 0;
  }
  * body main .cards .front-card, * body main .cards .back-card {
    -webkit-transform: translate(0);
            transform: translate(0);
    position: absolute;
    height: 170px;
    width: 300px;
  }
  * body main .cards .front-card {
    margin-top: 190px;
    margin-right: 0px;
    z-index: 9;
  }
  * body main .cards .front-card #card-number-key {
    font-size: 16px;
  }
  * body main .cards .front-card .span-field #card-name-key {
    font-size: 14px;
  }
  * body main .cards .front-card .exp #card-exp-month,
  * body main .cards .front-card .exp #card-exp-year {
    font-size: 12px;
  }
  * body main .cards .back-card {
    margin-bottom: 5px;
    right: 50px;
  }
  * body main .completed {
    width: 100vw;
    margin-bottom: 10px;
    width: 100vw;
    height: 65vh;
  }
}
/*# sourceMappingURL=completedState.css.map */